<!-- bootstrap stylesheet -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


<h1>Contact</h1>
<p>Need a bike? Give me a call!</p>
<p>07999 999 999</p>
<p>Or fill out the form below and we'll get back to you soon!</p>

<%= flash[:notice] %>

<%= form_with(url: "/static_pages/thank_you", method: "post", local: true) do |form| %>
	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				<%= form.label :name %>
				<%= form.text_field :name, class: "form-control", placeholder: "Enter Name" %>
			</div> <!-- end form-group -->
			<div class="form-group">
				<%= form.label :email, "Email Address" %>
				<%= form.text_field :email, class: "form-control", placeholder: "Enter Email" %>
			</div> <!-- end form-group -->
			<div class="form-group">
				<%= form.label :message %>
				<%= form.text_area :message, class: "form-control", placeholder: "Enter Message" %>
			</div> <!-- end form-group -->
		</div> <!-- end col -->
	</div> <!-- end row -->
	<%= form.submit "Send", class: "form_label" %>
<% end %>