<div class="col-xs-12 col-sm-6 col-md-4 product-columns">
	<%= image_tag(product.image_url, class: "img-responsive") %>
    <%= link_to product do %>
    	<h2><%= product.name %></h2>
    <% end %>
    <p><%= product.description %></p>
    <p><%= product.colour %></p>
    <strong><p>£<%= product.price %></p></strong>
    <p><%= link_to 'Edit', edit_product_path(product) %></p>
</div> <!-- end col -->