<p id="notice"><%= notice %></p>

<div class="container product-show-container">
  <div class="row prod-spec-row">

    <div class="col-xs-12 col-sm-6">
      <div class="product-title-image">
        <div class="product-title">
          <h3><%= @product.name %></h3>
        </div> <!-- end product-title -->
        <div class="product-image">
          <strong class="sr-only">Image url:</strong>
          <%= image_tag @product.image_url, class: "product-hero-image" %>
        </div> <!-- end product-image -->
      </div> <!-- end product-title-image -->
    </div> <!-- end col -->

    <div class="col-xs-12 col-sm-6">
      <div class="product-specification">
        <div class="product-price">
          <h4>Price</h4>
          <p><%= @product.price %></p>
        </div> <!-- end price -->
        <div class="product-colour">
          <h4>Colour</h4>
          <p><%= @product.colour %></p>
        </div> <!-- end product-colour -->
        <div class="product-description">
          <h4>Description</h4>
          <p><%= @product.description %></p>
        </div> <!-- end-product-description -->
      </div><!-- end product-specification -->
    </div> <!-- end col -->
  </div> <!-- end row -->

  <div class="row product-review-row">
    <div class="col-xs-12">
      <div class="product-comments">
        <h3>Product Reviews</h3>
        <% if @product.comments.present? %>
          <p><%= @product.highest_rating_comment.body %></p>
        <% else %>
          <p>No one has submitted a review yet, be the first!</p>
        <% end %>
      </div> <!-- end product-comments -->
    </div> <!-- end col -->
  </div> <!-- end row -->
</div> <!-- end container -->

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
